$color-theme: #FFFFFF !default; //主题色
$color-bg-page: #696969 !default; //页面背景颜色
$color-bg-view: #A9A9A9 !default; //页面背景颜色
$color-bg-header: #808080 !default; //导航和菜单背景颜色
$color-bg-select: #409EFF !default; //选中颜色，设计菜单、树、table等
$color-bg-hover: #D3D3D3 !default; //hover颜色，设计菜单、树、table等
$color-bg-button-primary: rgba(255, 255, 255, 1) !default; //button--primary背景色
$color-bg-button-default: rgba(255, 255, 255, 0.5) !default; //button--default背景色
$color-font-title: #000000 !default; // 标题字体颜色
$color-font-primary: rgba(0, 0, 0, 0.7) !default; // 主要字体颜色
$color-font-regular: rgba(0, 0, 0, 0.5) !default; // 常规字体颜色
$color-font-secondary: rgba(0, 0, 0, 0.3) !default; // 次要字体颜色
$color-icon: #0000FF !default; //图标颜色
$color-stripe: #C0C0C0 !default; //表格斑马线颜色
$color-border: #409EFF !default; //border颜色
$shop-border-size: 1px !default;
$shop-icon-hover-color: #909399 !default;
