$color-theme: #18366b !default; //主题色
$color-bg-page: #06101e !default; //页面背景颜色
$color-bg-view: #112642 !default; //页面背景颜色
$color-bg-header: #0f1e3c !default; //导航和菜单背景颜色
$color-bg-select: #409EFF !default; //选中颜色，设计菜单、树、table等
$color-bg-hover: #2c3d63 !default; //hover颜色，设计菜单、树、table等
$color-bg-button-primary: rgba(24, 54, 107, 1) !default; //button--primary背景色
$color-bg-button-default: rgba(24, 54, 107, 0.5) !default; //button--default背景色
$color-font-title: #ffffff !default; // 标题字体颜色
$color-font-primary: rgba(255, 255, 255, 0.7) !default; // 主要字体颜色
$color-font-regular: rgba(255, 255, 255, 0.5) !default; // 常规字体颜色
$color-font-secondary: rgba(255, 255, 255, 0.3) !default; // 次要字体颜色
$color-icon: #409EFF !default; //图标颜色
$color-stripe: #142D52 !default; //表格斑马线颜色
$color-border: #409EFF !default; //border颜色
$shop-border-size: 1px !default;

